<!DOCTYPE html>
<html>

<head>
    <title>codeView</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200, initial-scale=1.0">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="600" />
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/highlight/monokai-sublime.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/wrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/lefttree.css">
</head>

<body>
    <% include ./wrap %>
    <% include ../sections/regest %>
    <% include ../sections/chat %>
    <div class="content-wrap">
        <%- body %>
        <!-- <div class="right"></div> -->
    </div>
</body>

</html>
<script src="/js/highlight.pack.js"></script>
<script src="/js/common.js"></script>