<div id="chat" class="chat-wrap">
    <div id="closeChat" class="title">关闭</div>
    <div id="chatlist" class="top">

    </div>
    <div class="bottom">
        <textarea placeholder="按 Enter 发送" _v-1bce8966="" id="txtmsg"></textarea>
    </div>

</div>