
    <h1 id="specialId" style="display:none"><%= id %></h1>
    <div class="">
        <span style="display: block;font-size: 2.8rem;background: #e6e6e6;border-bottom: 1px dashed lightsteelblue;padding: 2px 15px;">js代码分享模块</span>
        <div class="dflex topBlock">
            <button id="btn1">新建</button>
            <!-- <input id="textId" type="text" placeholder="请输入查询id">
            <button id="btn2" style="margin: 10px 0 15px 0px">查询</button>        -->
            <button id="btn3" style="margin: 10px 0 15px 20px">保存</button>
            <div id="pathBlock">
                <input id="pathId" type="text">
                <button id="copyId">复制</button>
            </div>
        </div>
        <div>
            <pre>
                <code id="main" class="Javascript" style="min-height:320px" contenteditable></code>
            </pre>
        </div>
        <div class="selBlock">
            <!-- <p>样式选择</p>
            <div id="changeStyleSelect" class="selbox"></div> -->
            <p>语言选择</p>
            <div id="changeLaunSelect" class="selbox"></div>
        </div>
    </div>
