

<div class="main">
    <div class="ganhuo-wrap">
        <!-- <div class="title">前端干货</div> -->
        <div id="ghlist-wrap" class="list-wrap"></div>
    </div>

    <% include ./sections/rightwrap%>
</div> 


<%- blockFor("bodyhead")%>
<link rel="stylesheet" href="/css/index.css">

<%- blockFor("bodyFoot")%>
<script src="//emcharts.dfcfw.com/libs/lodash.3.10.1.js"></script>
<script src="/js/index.js"></script>